.whatsapp-button {
    font-size: 16px;
    margin: inherit;
    background-color: #6DB166;
    height: 48px;
    border-style: none;
    font-weight: 800;
    padding: 12px 16px;
}

.whatsapp-button:hover {
    background-color: #4C8744;
}

.whatsapp-button img {
    width: 20px;
}

.whatsapp-text {
    padding-left: 6px;
    color: white;
}

.whatsapp-button > img,
.whatsapp-button > span {
  vertical-align: middle;
}

/* ====================   Mobile  ==================== */
@media (max-width: 991px) {
    .whatsapp-button {
        font-size: 14px;
        margin: 0 auto;
    }
}