html {
  scroll-behavior: smooth;
}

p {
  white-space: break-spaces;
  margin: 0;
}

:root {
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  user-select: none;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

a {
  font-weight: 500;
  color: #213547;
  text-decoration: inherit;
}
a:hover {
  color: #213547;
}

body {
  margin: 0;
  /* display: flex; */
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.disable-button-style {
  border-radius: 8px;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  background-color: inherit;
  cursor: pointer;
  text-align: start;
}

.disable-button-style:hover {
  border: 0 solid transparent;
}

button {
  background-color: white;
  border: 0;
  border-radius: 8px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
